/* FONTS */
@font-face {
  src: url("../fonts/barlow-semi-condensed-v14-latin-regular.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v14-latin-regular.woff") format("woff");
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/barlow-semi-condensed-v14-latin-500.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v14-latin-500.woff") format("woff");
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("../fonts/barlow-semi-condensed-v14-latin-600.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v14-latin-600.woff") format("woff");
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("../fonts/barlow-semi-condensed-v14-latin-700.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v14-latin-700.woff") format("woff");
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #fff;
  --accent-color: ;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Barlow Semi Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: radial-gradient(circle, #1F3756 20%, #141539 95%) no-repeat center/cover fixed;
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.main-button {
  background: transparent;
  padding: 12px 22px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .main-button {
    padding: 10px 20px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 768px) {
  .main-button {
    padding: 8px 16px;
    font-size: 19px;
  }
}
@media only screen and (max-width: 576px) {
  .main-button {
    padding: 7px 14px;
    font-size: 18px;
  }
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 45px 0;
  margin-bottom: 100px;
  transition: padding 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .site-header {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 992px) {
  .site-header {
    padding: 20px 5px;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #606e85;
  border-radius: 15px;
  padding: 18px 32px;
  transition: padding 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .site-header__container {
    padding: 15px 24px;
  }
}
@media only screen and (max-width: 992px) {
  .site-header__container {
    padding: 13px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header__container {
    padding: 11px 18px;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__container {
    padding: 8px;
  }
}

.site-header__title {
  margin: 0;
  line-height: 0.8;
  font-size: 40px;
  transition: font-size 0.5s ease, line-height 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .site-header__title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 992px) {
  .site-header__title {
    font-size: 32px;
    line-height: 1;
  }
}
@media only screen and (max-width: 768px) {
  .site-header__title {
    font-size: 26px;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__title {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
}

.score {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: gap 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .score {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .score {
    gap: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .score {
    gap: 7px;
  }
}

.score__card {
  background: #fff;
  border-radius: 10px;
  padding: 12px 36px;
  text-align: center;
  transition: padding 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .score__card {
    padding: 10px 24px;
  }
}
@media only screen and (max-width: 768px) {
  .score__card {
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 576px) {
  .score__card {
    padding: 8px 13px;
  }
}

.score__text {
  color: #2a46c0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .score__text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .score__text {
    font-size: 14px;
  }
}
.score__text-inner {
  color: #3b4363;
  font-size: 55px;
  line-height: 1;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .score__text-inner {
    font-size: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .score__text-inner {
    font-size: 35px;
  }
}
@media only screen and (max-width: 576px) {
  .score__text-inner {
    font-size: 32px;
  }
}

.game__inner {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 77px 110px;
  position: relative;
}
.game__inner.hidden {
  display: none;
}
@media only screen and (max-width: 768px) {
  .game__inner {
    grid-gap: 57px 90px;
  }
}
@media only screen and (max-width: 576px) {
  .game__inner {
    grid-gap: 47px 75px;
  }
}

.game__triangle {
  position: absolute;
  z-index: -2;
  left: calc(50% - 152px);
  width: 304px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .game__triangle {
    width: 230px;
    left: calc(50% - 115px);
  }
}
@media only screen and (max-width: 576px) {
  .game__triangle {
    width: 190px;
    left: calc(50% - 95px);
  }
}

.pick {
  background: #fff;
  padding: 45px;
  border-radius: 50%;
  align-self: center;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: inset -1px 8px 0px 3px rgba(240, 240, 240, 0.7490196078);
  outline: none;
  transition: padding 0.5s ease;
}
.pick::after {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -10%;
  border-radius: 50%;
}
.pick img {
  width: 70px;
  height: 70px;
}
@media only screen and (max-width: 768px) {
  .pick img {
    width: 55px;
    height: 55px;
  }
}
@media only screen and (max-width: 576px) {
  .pick img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .pick {
    padding: 35px;
  }
}
@media only screen and (max-width: 576px) {
  .pick {
    padding: 30px;
  }
}

.pick--paper::after {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 8px 0px 0px hsl(230, 89%, 55%);
}

.pick--scissors::after {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 8px 0px 0px hsl(40, 84%, 43%);
}

.pick--rock {
  grid-row: 2;
  grid-column: 1/3;
  justify-self: center;
}
.pick--rock::after {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 8px 0px 0px hsl(349, 70%, 46%);
}

.game__result {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.game__result.hidden {
  display: none;
}
@media only screen and (max-width: 576px) {
  .game__result {
    flex-wrap: wrap;
    gap: 40px 20px;
  }
}

@media only screen and (max-width: 576px) {
  .game__result-inner {
    order: 1;
    width: 100%;
    text-align: center;
  }
}

.game__result-text {
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.game__reset-score {
  position: fixed;
  bottom: 50px;
  left: 50px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.game__reset-score.hidden {
  transform: scale(0);
}

/* RULES */
.game__rules-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.game__rules-btn.hidden {
  transform: scale(0);
}

.modal-rules {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  padding: 0 20px;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 2s ease;
}
.modal-rules.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: transform 0.5s ease;
}

.modal-rules__content {
  --text-color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px 30px;
  color: var(--text-color);
}

.modal-rules__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-rules__text {
  font-weight: 600;
  font-size: 22px;
}

.modal-rules__close-btn {
  border: none;
  background: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.modal-rules__close-btn img {
  width: 36px;
  height: 36px;
}

.modal-rules__img {
  width: 400px;
  height: auto;
}/*# sourceMappingURL=main.css.map */