/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #fff;
  --accent-color: ;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Barlow Semi Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: radial-gradient(circle, #1F3756   20%, #141539 95%) no-repeat center / cover fixed;
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.main-button {
  background: transparent;
  padding: 12px 22px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;

  
  @media only screen and (max-width: $tablet-l) {
    padding: 10px 20px;
    font-size: 22px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 8px 16px;
    font-size: 19px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 7px 14px;
    font-size: 18px;
  }
}